.passgen {
  &__container {
    width: 40vw;

    display: flex;
    flex-direction: column;

    gap: 2rem;

    @media only screen and (max-width: $bp-tablet) {
      width: 70vw;
    }

    @media only screen and (max-width: $bp-mobile) {
      width: 90vw;
    }
  }

  &__title {
    color: $color-grey;
    font-size: map-get($map: $font-sizes-map, $key: "heading-medium");
    text-align: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media only screen and (max-width: $bp-tablet) {
      margin-top: 1.5rem;
    }

    &--result {
      padding: 1.5rem 2.5rem;
      background-color: $color-dark-grey;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .result_copy {
        display: flex;
        align-items: center;
        gap: 1rem;

        span {
          color: $color-primary;
          text-transform: uppercase;
          font-size: map-get($map: $font-sizes-map, $key: "body");
          opacity: 0;
          transition: opacity 1s ease-in-out;
        }
      }

      & > input[type="text"] {
        outline: none;
        border: 0;
        background: transparent;
        font-size: map-get($map: $font-sizes-map, $key: "heading-large");
        width: 80%;
      }
    }

    &--generator {
      padding: 1.5rem 2.5rem;
      background-color: $color-dark-grey;
      color: $color-light-white;

      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      @media only screen and (max-width: $bp-tablet) {
        gap: 3rem;
      }

      .char_length {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--label {
          font-size: map-get($map: $font-sizes-map, $key: "body");
        }

        &--value {
          color: $color-primary;
          font-size: map-get($map: $font-sizes-map, $key: "heading-large");
        }
      }

      .password_strength {
        background: #000;
        padding: 2rem 3rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &--label {
          font-size: map-get($map: $font-sizes-map, $key: "body");
          color: $color-grey;
          text-transform: uppercase;
        }

        &--content {
          display: flex;
          align-items: center;
          gap: 1.5rem;

          .strength_type {
            font-size: map-get($map: $font-sizes-map, $key: "heading-medium");
            color: $color-light-white;
            text-transform: uppercase;
          }

          .strength_indicator {
            display: flex;
            gap: 8px;

            p {
              width: 10px;
              height: 28px;
              border: 1.3px solid #fff;
            }
          }
        }
      }
    }
  }
}

/* Icon Styles */
.icon {
  &__copy {
    cursor: pointer;
    width: 2.1rem;
    height: 2.4rem;

    &:hover {
      filter: invert(0.5);
    }
  }
}

/* Copy Animation */
@keyframes visibilityAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Input Range Styles */
input[type="range"] {
  appearance: none;
  background: #000;
  height: 5px;
  border-radius: 50px;
  background-image: linear-gradient($color-light-primary, $color-primary);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

/******** Chrome, Safari ********/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* clear browser thumb */
  width: 2.8rem;
  height: 2.8rem;
  background-color: $color-light-white;
  border-radius: 100%;

  &:hover {
    background-color: $color-very-dark-grey;
    border: 1px solid $color-primary;
  }
}

/******** Firefox ********/
input[type="range"]::-moz-range-progress {
  appearance: none;
  background: $color-primary;
  outline: none;
  height: 0.5rem;
}

input[type="range"]::-moz-range-track {
  background: #000;
  height: 0.5rem;
}

input[type="range"]::-moz-range-thumb {
  height: 2.8rem;
  width: 2.8rem;
  border-radius: 100%;

  &:hover {
    background-color: $color-very-dark-grey;
    border: 1px solid $color-primary;
  }
}

/* Input Checkbox Styles */
input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  accent-color: $color-primary;
}

label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;

  span {
    font-size: map-get($map: $font-sizes-map, $key: "body");
    color: $color-light-white;
  }

  &.include_uppercase_chars {
    @media only screen and (max-width: $bp-tablet) {
      margin-top: 2rem;
    }
  }
}

/* Submit Button Styles */
#submit-btn {
  margin-bottom: 1rem;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 2.5rem 0;
  font-size: map-get($map: $font-sizes-map, $key: "body");
  font-family: inherit;
  color: $color-dark-grey;
  text-transform: uppercase;
  background-color: $color-primary;

  display: flex;
  justify-content: center;
  gap: 2rem;

  &:hover {
    background-color: transparent;
    border: 1.5px solid $color-primary;
    color: $color-primary;
  }

  &:hover img {
    filter: invert(0.7);
  }
}

/* Dynamic Utility Classes */
.strength-strong {
  background-color: $color-primary;
}
.strength-medium {
  background-color: $color-strength-medium;
}
.strength-weak {
  background-color: $color-strength-weak;
}
.strength-tooweak {
  background-color: $color-strength-tooweak;
}
.add-visibility-animation {
  -webkit-animation: seconds 1s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: visibilityAnimation 1s forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
}
